html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}
html, body {height: 100%; width: 100%}

/* use for trouble-shooting layout:
* {outline: 1px solid red;}
*/  
body {
    text-align: center;
    font-family: 'Indie Flower', cursive;
    padding: 100px 0 0 0;
    margin: 0;
}

.fortuneBG {
    background-color: rgb(158, 108, 77);
    background-image: url("https://depts.washington.edu/chinaciv/painting/4pmtsprn.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.quoteBG {
    background-color: rgb(45, 45, 45);
    background-image: url("codebg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    display: flex;
    flex-direction: column;
}

h1 {font-size: 70px; margin: 20px; text-shadow: 4px 3px 3px #000000;}
#holder {width: 70%}

.quoteDisplay {
    font-family: 'Mukta', sans-serif;
    font-size: 35px;
    padding: 100px 20px;
    margin: 15px 15px 0 15px;
    align-items: center;
    background-color: rgba(8, 56, 8, 0.87);
    color: white;
    box-shadow: -4px 3px 5px 0px rgba(0,0,0,0.75);
    border-radius: 12px;
}

.fortuneDisplay {
    font-family: 'Indie Flower', cursive;
    font-size: 45px;
    padding: 100px 20px;
    margin: 15px 15px 0 15px;
    align-items: center;
    background-color: rgba(255, 160, 122, 0.75);
    box-shadow: 4px 3px 5px 0px rgba(0,0,0,0.75);
    border-radius: 20px;
}

.fortuneIcon {font-size: 75px;}

.authorDisplay {
    font-size: 35px;
    font-family: 'Mukta', sans-serif;
}

button {
    height: 40px;
    margin: 0 6px 30px;
    color: white;
    border-radius: 8px;
    display: inline-flex;
    align-items: center;
}

.btnFortune {
    font-size: 25px;
    font-family: 'Indie Flower', cursive;
    background-color: rgba(92, 65, 44, 0.94);
}

.btnQuote {
    font-size: 20px;
    font-family: 'Mukta', sans-serif;
    background-color: rgba(15, 26, 184, 0.94);
}

button:hover {
    box-shadow: 4px 3px 5px 0px rgba(0,0,0,0.75);
}
button:focus {
    outline: none;
    box-shadow: 4px 3px 5px 0px rgba(0,0,0,0.75);
}